.toDo {
  font-size: 22px;
}

.toDo__button {
  margin-right: 10px;
  cursor: pointer;
  background: none;
  border: 0;
  padding: 3px;
}

.allDelToDo__button {
  margin-top: 20px;
  cursor: pointer;
  background: none;
  padding: 3px;
  color: white;
}
